@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

// Variables

$dark: #000000;
$light: #d0d0d0;
$accent1: #666666;
$accent2: #DEB887;
$accent3: #00ddff;
$mainfont: 'Helvetica', 'Arial', sans-serif;
$secondaryfont: 'Lora', serif;
$borderstyle: 1px solid $light;

@mixin fontstyle($size: 25px, $secondaryfont: 1px solid $light) {
  font-size: $size;
  font-family: $secondaryfont;
}


// Small page

body {
    max-width: 30em;
    margin: auto;
    font-family: $mainfont;
}
h1 {
  text-align: center;
  @include fontstyle(65px);
  a {
    text-decoration: none;
    color: $dark;
  }
}

nav {
  border-top: $borderstyle;
  border-bottom: $borderstyle;
  text-transform: uppercase;
  ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    @include fontstyle(18px);
  }
}

li {
  padding: 10px;
  a {
    color: $accent1;
    text-decoration: none;
  }
  a:active {
    color: $accent2;
  }
  a:hover {
    color: $accent3;
  }
}


.post-date {
  border-bottom: $borderstyle;
  text-align: right;
  padding-top: 40px;
  padding-bottom: 10px;
  text-transform: uppercase;
  padding-right: 10px;
  @include fontstyle;
}

h2 a {
  color: $accent1;
  text-decoration: none;
  @include fontstyle;
}

.post-content {
  padding-top: 10px;
  padding-left: 10px;
}


// Large page
@media only screen and (min-width: 30em) {
 

  header {
    margin-bottom: 20px;
  }

  body {
    max-width: 44em;
  }
  
  nav ul {
    display: flex;
    justify-content: right;
  }
  
  article {
    display: grid;
    grid-template-columns: 180px 1fr;
  }

  .post-date {
    border-right: $borderstyle;
    border-bottom: none;
  }
  
  .post-content {
    border-bottom: $borderstyle;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
  
  
}